.footer {
    
   
    width: 100%;
    color: white;
  }
  .style
  {
    width: 18rem;
     height: 25rem ; 
  }
  .card-img{
    padding-left: 10%;
    padding-top: 10%;
    height: 15rem;
    width: 15rem;
  }
  /* .carousel
  {
    height: 100;
  } */